<div class="container-fluid sub">
	<spinner name="nsisSpinner">
		<div class="nsis-spinner">
			<img src="/NSIS/static/images/nsisspinner.gif" alt="Loading..."
				height="42" width="42">
		</div>
	</spinner>
	<div class="row">
		<div class="col-sm-12 title text-left">
			<nsis-cs-page-title type="customerRequest.body.requestType" is-form=true></nsis-cs-page-title>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 small text-right">
			<div class="form-horizontal">
				<nsis-text-field ng-model="customerRequest.body.requestNumber"
					co-id="requestNumber" qro-id="requestNumber" label="requestNumber"
					text-label="Request No:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-field ng-model="customerRequest.body.requestBy.fullName"
					co-id="requestByUsername" qro-id="requestBy.fullName" label="requestBy"
					text-label="Request By:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-date ng-model="customerRequest.body.requestDate" co-id="requestDate"
					qro-id="requestDate" label="requestDate"
					text-label="Request Date:"></nsis-date>
			</div>
			<div class="form-horizontal">
				<nsis-text-field ng-model="customerRequest.body.status" co-id="status"
					qro-id="status" label="status" text-label="Status:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-list ng-model="customerRequest.body.facilityCodeName" 
					co-id="facilityCode" qro-id="facilityCodeName" 
					label="facilities" text-label="Facility:" 
					options="facilities"
					ng-init="facilities = ['DXM','DXO','DML','DXS','DXC','FSB','CKF','CEB','GTW'];">
				</nsis-list>
			</div>
		</div>
		<div class="col-sm-4 text-right small">
			<div class="form-horizontal">
				<nsis-cd-customer-list
					ng-model="customerRequest.body.customer.accountNumber"
					target="customerRequest.body.customer" 
					target-facility="customerRequest.body.facilityCodeName"
					co-id="customer.accountNumber" filter="customerRequest.body.customer"
					qro-id="customer.accountNumber" label="accountNumber"
					text-label="Account No:"></nsis-cd-customer-list>
			</div>
			<div class="form-horizontal">
				<nsis-text-field
					ng-model="customerRequest.body.customer.name"
					co-id="customer.customerName"
					qro-id="customer.name"
					label="customerName" text-label="Name:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-area
					ng-model="customerRequest.body.customer.deliveryAddress"
					co-id="customer.deliveryAddress"
					qro-id="customer.deliveryAddress" rows="3" label="deliveryAddress"
					text-label="Delivery Addr:"></nsis-text-area>
			</div>
			<div class="form-horizontal">
				<nsis-text-field
					ng-model="customerRequest.body.customer.contactNumber"
					co-id="customer.contactNumber"
					qro-id="customer.contactNumber"
					label="contactNumber" text-label="Contact No:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-field
					ng-model="customerRequest.body.customer.contactName"
					co-id="customer.contactName" qro-id="customer.contactName"
					label="contactName" text-label="Contact Name"></nsis-text-field>
			</div>
		</div>
		<div class="col-sm-4 text-right small">
			<div class="form-horizontal">
				<nsis-text-field
					ng-model="customerRequest.body.custodian.name"
					co-id="approver.username"
					qro-id="custodian.custodianDetails.fullName" label="custodian"
					text-label="Custodian:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-area ng-model="customerRequest.body.custodian.remarks"
					co-id="custodian.remarks" qro-id="custodian.remarks" rows="3"
					label="custodianRemarks" text-label="Remarks:"></nsis-text-area>
			</div>
			<div class="form-horizontal">
				<nsis-text-field
					ng-model="customerRequest.body.routeCode"
					co-id="routeCode" qro-id="routeCode" label="routeCode"
					text-label="Route:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-date ng-model="customerRequest.body.requiredDate" co-id="requiredDate"
					qro-id="requiredDate" label="requiredDate"
					text-label="Required Dte:"></nsis-date>
			</div>
		</div>
	</div>
	<nsis-grid-cd-cr-items cr="customerRequest"
		co-id="requestedItems" qro-id="requestedItems" text-label="Items:"
		label="customerRequestedItems">
		<div ag-grid="gridOptions"
			class="ag-bootstrap-striped default-nsis-grid"></div>
	</nsis-grid-cd-cr-items>
	<div class="form-inline pull-right">
		<nsis-action-button text-label="Cancel" enabledAlways=true 
			disabled=false  action="cancel"></nsis-action-button>
		<nsis-action-button text-label="Save" action="save"
			class-ids="btn-success"></nsis-action-button>
		<nsis-action-button text-label="Submit" action="submit"
			class-ids="btn-danger" conf-msg="submitConfirmMsg"></nsis-action-button>
	</div>
</div>
