<div class="container-fluid sub">
	<spinner name="nsisSpinner">
		<div class="nsis-spinner">
			<img src="/NSIS/static/images/nsisspinner.gif" alt="Loading..."
				height="42" width="42">
		</div>
	</spinner>
	<div class="row">
		<div class="col-sm-12 title text-left">
			<nsis-cs-page-title type="requestType" is-form=false></nsis-cs-page-title>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 text-left filter-header"><strong>Filters</strong></div>
	</div>
	<div class="row top-buffer">
		<div class="col-sm-3 small text-right">
			<div class="form-horizontal">
				<nsis-text-field ng-model="filter.requestNumber" augment=false
				co-id="requestNumber" qro-id="requestNumber" nsis-enter="doTriggerReload()"
				label="requestNumber" text-label="Req No:"></nsis-text-field>
			</div>
		</div>
		<div class="col-sm-3 small text-right">
			<div class="form-horizontal">
				<nsis-list ng-model="filter.status" 
				co-id="status" qro-id="status" 
				label="status" text-label="Status:" augment=false
				options="statuses" augment=false ng-change-fx="doTriggerReload"
				ng-init="statuses = ['','DRAFT','FOR PROCESSING','PROCESSING',
				'DELIVERED','PARTIALLY DELIVERED'];"></nsis-list>
			</div>
		</div>
		<div class="col-sm-6 small text-right">
			<div class="form-inline no-big-gap">
				<div class="form-group div_50percent right_float">
					<div class="col-xs-6">
						<label for="toRequestDate" class="right_float cust_label control-label">To:</label>
					</div>
					<nsis-date-lite container-class-ids="col-xs-6 right_float input-group" 
									nsis-enter="doTriggerReload()" ng-model="filter.toDate" 
									label="toRequestDate" augment=false>
				</div>
				<div class="form-group div_50percent right_float">
					<div class="col-xs-6">
						<label for="fromRequestDate" class="right_float cust_label control-label">Req Date From:</label>
					</div>
					<nsis-date-lite container-class-ids="col-xs-6 right_float input-group" 
									nsis-enter="doTriggerReload()" ng-model="filter.fromDate" 
									label="fromRequestDate" augment=false>
					</nsis-date-lite>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 small text-right">
			<div class="form-horizontal">
				<nsis-text-field ng-model="filter.accountNumber" augment=false
				co-id="requestNumber" qro-id="requestNumber"  nsis-enter="doTriggerReload()"
				label="requestNumber" text-label="Acct No:"></nsis-text-field>
			</div>
		</div>
		<div class="col-sm-3 small text-right">
			<div class="form-horizontal">
				<nsis-text-field ng-model="filter.accountName" augment=false
				co-id="requestNumber" qro-id="requestNumber"  nsis-enter="doTriggerReload()"
				label="requestNumber" text-label="Acct Name"></nsis-text-field>
			</div>
		</div>
		<div class="col-sm-3 small text-right">
			<div class="form-horizontal">
				<nsis-list ng-model="filter.facilityCodeName" 
					co-id="facilityCodeName" qro-id="facilityCodeName" ng-change-fx="doTriggerReload"
					label="facilities" text-label="Facility:" options="facilities" augment=false
					ng-init="facilities = ['','DXM','DXO','DML','DXS','DXC',
					'FSB','CKF','CEB','GTW'];"></nsis-list>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 small text-right">
			<div class="form-horizontal">
				<nsis-action-button text-label="Clear Filter" action="clearFilter"
				class-ids="btn-danger"></nsis-action-button>
			</div>
		</div>
	</div>
	<div class="row top-buffer">
	</div>
	<nsis-grid-cd-cs-customer-request add-action="add" view-action="view" trigger="triggerReload"
								remove-action="remove" list-action="reloadList">
		<div ag-grid="gridOptions"  class="ag-bootstrap-striped default-nsis-grid"></div>
	</nsis-grid-cd-cs-customer-request>
</div>
