<div class="container-fluid sub">
	<spinner name="nsisSpinner">
		<div class="nsis-spinner">
			<img src="/NSIS/static/images/nsisspinner.gif" alt="Loading..."
				height="42" width="42">
		</div>
	</spinner>
	<div class="row">
		<div class="col-sm-12 title text-left">
			<h3>Delivery Receipt Form</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 small text-right">
			<div class="form-horizontal">
				<nsis-text-field ng-model="deliveryReceipt.body.orderRequest.orderNumber"
					co-id="orderRequest.orderNumber" qro-id="orderRequest.orderNumber" label="orderNumber"
					text-label="Order No:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-field ng-model="deliveryReceipt.body.orderRequest.orderBy.fullName"
					qro-id="orderRequest.orderBy.fullName" label="orderBy"
					text-label="Order By:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-date ng-model="deliveryReceipt.body.orderRequest.orderDate"
					qro-id="orderRequest.orderDate" label="orderDate"
					text-label="Order Date:"></nsis-date>
			</div>
			<div class="form-horizontal">
				<nsis-text-field ng-model="deliveryReceipt.body.orderRequest.orderType"
					qro-id="orderRequest.orderType" label="orderType" 
					text-label="Order Type:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-field ng-model="deliveryReceipt.body.orderRequest.orderCycle"
					qro-id="orderRequest.orderCycle" label="orderCycle"
					text-label="Order Cycle:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-field ng-model="deliveryReceipt.body.orderRequest.currency"
					qro-id="orderRequest.currency" label="currency"
					text-label="Currency:"></nsis-text-field>
			</div>
		</div>
		<div class="col-sm-4 text-right small">
			<div class="form-horizontal">
				<nsis-text-area
					ng-model="deliveryReceipt.body.orderRequest.recipient.deliveryAddress"
					qro-id="orderRequest.recipient.deliveryAddress" rows="3" label="deliveryAddress"
					text-label="Delivery Addr:"></nsis-text-area>
			</div>
			<div class="form-horizontal">
				<nsis-text-field ng-model="deliveryReceipt.body.orderRequest.recipient.recipientDetails.fullName"
					qro-id="orderRequest.recipient.recipientDetails.fullName" label="recipient"
					text-label="Recipient:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-field
					ng-model="deliveryReceipt.body.orderRequest.recipient.recipientDetails.contactNumber"
					qro-id="orderRequest.recipient.recipientDetails.contactNumber"
					label="contactNumber" text-label="Contact No:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-field ng-model="deliveryReceipt.body.orderRequest.recipient.recipientDetails.emailAddress"
					qro-id="orderRequest.recipient.recipientDetails.emailAddress"
					label="emailAddress" text-label="Email Add:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-field ng-model="deliveryReceipt.body.orderRequest.facilityId"
					qro-id="orderRequest.facilityId" label="facility"
					text-label="Facility:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-field ng-model="deliveryReceipt.body.status"
					qro-id="status" label="status" text-label="Status:"></nsis-text-field>
			</div>
		</div>
		<div class="col-sm-4 text-right small">
			<div class="form-horizontal">
				<nsis-text-field ng-model="deliveryReceipt.body.orderRequest.approver.approverDetails.fullName"
					qro-id="orderRequest.approver.approverDetails.fullName" label="approver"
					text-label="Approver:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-area ng-model="deliveryReceipt.body.orderRequest.approver.remarks"
					qro-id="orderRequest.approver.remarks" rows="3"
					label="approverRemarks" text-label="App. Rmrks:"></nsis-text-area>
			</div>
			<div class="form-horizontal">
				<nsis-date ng-model="deliveryReceipt.body.dateDelivered"
					qro-id="dateDelivered" label="deliveryDate" co-id="dateDelivered"
					text-label="Delivery Dte.:"></nsis-date>
			</div>
		</div>
	</div>
	<nsis-grid-cd-or-item-receivables or="orderRequest" dr="deliveryReceipt"
		co-id="itemBatchGroups" qro-id="itemBatches" text-label="Items:"
		label="itemReceivables">
		<div ag-grid="gridOptions"
			class="ag-bootstrap-striped default-nsis-grid"></div>
	</nsis-grid-cd-or-item-receivables>
	<div class="form-inline pull-right">
		<nsis-action-button text-label="Cancel" action="cancel"></nsis-action-button>
		<nsis-action-button text-label="Save" action="save"
			class-ids="btn-success"></nsis-action-button>
		<nsis-action-button text-label="Finalize" action="finalize"
			class-ids="btn-danger" conf-msg="finalizeConfirmMsg" ></nsis-action-button>
	</div>
</div>
