<div class="container">
	<div class="row bgimg vertical-align">
		<div class="col-sm-12 col-lg-12">
			<a href="javascript:void(0);" 
		   class="text-muted pull-right glyphicon glyphicon-log-out" ng-click="signout()"></a>
		   <p class="pull-right">&nbsp;</p>
		   <p class="pull-right">&nbsp;</p>
		   <p class="pull-right">&nbsp;</p>
		   <p class="pull-right">
		   		Welcome <nsis-user-identifier ng-model="user.username"></nsis-user-identifier>
		   </p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2 left-panel-s">
			<uib-accordion close-others="true">
				<uib-accordion-group ng-repeat="item in items" is-open="isopen">
			      <uib-accordion-heading>
			      	<i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}">
			      	</i>{{item.desc}}
			      </uib-accordion-heading>
			      
			      <div ng-repeat="subitem in item.subitems">
						<a href="javascript:void(0);" class="accord-link"
						   ng-class="setCurrent('{{subitem.state}}')" ui-sref="{{subitem.state}}"  
						   >{{subitem.desc}}</a>
				   </div>
			    </uib-accordion-group>
			</uib-accordion>
		</div>
		<div class="col-sm-10 content-panel">
			<div class="row" ui-view></div>
		</div>
	</div>
</div>
