<div class="container-fluid sub">
	<spinner name="nsisSpinner">
		<div class="nsis-spinner">
			<img src="/NSIS/static/images/nsisspinner.gif" alt="Loading..."
				height="42" width="42">
		</div>
	</spinner>
	<div class="row top-buffer">
		<div class="col-sm-12 text-left filter-header"><strong>Filters</strong></div>
	</div>
	<div class="row top-buffer">
		<div class="col-sm-2 small text-right">
			<div class="form-horizontal">
				<nsis-text-field ng-model="filter.orderNumber" augment=false
				co-id="orderNumber" qro-id="orderNumber" container-class-ids="col-sm-7 pull-right" 
				label="orderNumber" text-label="Order No:"></nsis-text-field>
			</div>
		</div>
		<div class="col-sm-2 small text-right">
			<div class="form-horizontal">
				<nsis-list ng-model="filter.status" 
				co-id="status" qro-id="status" 
				label="status" text-label="Status:" 
				options="statuses" augment=false container-class-ids="col-sm-8 pull-right" 
				ng-init="statuses = ['FOR DELIVERY','DELIVERED'];"></nsis-list>
			</div>
		</div>
		<div class="col-sm-2 small text-right">
			<div class="form-horizontal">
				<nsis-list ng-model="filter.cycle" 
				co-id="cycle" qro-id="cycle" 
				label="cycle" text-label="Cycle:" 
				options="cycles" augment=false container-class-ids="col-sm-8 pull-right" 
				ng-init="cycles = ['Q1','Q2','Q3','Q4','Adhoc'];"></nsis-list>
			</div>
		</div>
		<div class="col-sm-6 small text-right">
			<div class="form-inline no-big-gap">
				<div class="form-group div_50percent right_float">
					<div class="col-xs-6">
						<label for="toOrderDate" class="right_float cust_label control-label">To:</label>
					</div>
					<nsis-date-lite container-class-ids="col-xs-6 right_float input-group" 
									ng-model="filter.toOrderDate" label="toOrderDate" augment=false>
				</div>
				<div class="form-group div_50percent right_float">
					<div class="col-xs-6">
						<label for="fromOrderDate" class="right_float cust_label control-label">Order Date From:</label>
					</div>
					<nsis-date-lite container-class-ids="col-xs-6 right_float input-group" 
									ng-model="filter.fromOrderDate" label="fromOrderDate" augment=false>
					</nsis-date-lite>
				</div>
			</div>
		</div>
	</div>
	<div class="row top-buffer">
	</div>
	<nsis-grid-cd-delivery-receipts view-action="view" list-action="reloadList">
		<div ag-grid="gridOptions"  class="ag-bootstrap-striped default-nsis-grid"></div>
	</nsis-grid-cd-delivery-receipts>
</div>
