<div class="container-fluid sub">
	<spinner name="nsisSpinner">
		<div class="nsis-spinner">
			<img src="/NSIS/static/images/nsisspinner.gif" alt="Loading..."
				height="42" width="42">
		</div>
	</spinner>
	<div class="row top-buffer">
		<div class="col-sm-12 text-left filter-header"><strong>Filters</strong></div>
	</div>
	<div class="row top-buffer">
		<div class="col-sm-4 small text-right">
			<div class="form-horizontal">
				<nsis-text-field ng-model="filter.itemCode" augment=false nsis-enter="doTriggerReload()"
				co-id="itemCode" qro-id="itemCode" container-class-ids="col-sm-7 pull-right" 
				label="orderNumber" text-label="Item Code:"></nsis-text-field>
			</div>
		</div>
	</div>
	<nsis-grid-cd-wh-im-onhand-by-item list-action="reloadList" trigger="triggerReload">
		<div ag-grid="gridOptions"  class="ag-bootstrap-striped onhand-nsis-grid"></div>
	</nsis-grid-cd-wh-im-onhand-by-item>
</div>
