<div class="container-fluid sub" ng-controller="MaintenanceCtrl">
	<div class="row">
		<div class="col-sm-12 title text-left"><h3>Admin</h3></div>
	</div>
	<div class="row">
		<div class="col-sm-12 text-left filter-header"><strong>Filters</strong></div>
	</div>
	<div class="row top-buffer">
		<div class="col-md-10 col-md-offset-1">
			<div ui-grid="gridOptions" class="grid" />
		</div>
	</div>
</div>