<div class="row top-buffer">
	<div class="col-sm-12 text-right">
		<div class="form-horizontal filter-header pull-left">
			<div class="form-group no-big-gap">
				<div class="col-sm-2 text-left">
					&nbsp;<label for="addItem" class="control-label">Items:&nbsp;</label>
					<a href="javascript:void(0);" class="anchor-icon" id="addItem"
						ng-click="open()"> <span class=" glyphicon glyphicon-plus"></span>
					</a> <a href="javascript:void(0);" class="anchor-icon"> <span
						class="glyphicon glyphicon-trash"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div ag-grid="gridOptions" class="ag-bootstrap-striped"
			style="height: 42vh;"></div>
	</div>
</div>
