<div class="container-fluid sub">
	<spinner name="nsisSpinner">
		<div class="nsis-spinner">
			<img src="/NSIS/static/images/nsisspinner.gif" alt="Loading..."
				height="42" width="42">
		</div>
	</spinner>
	<div class="row">
		<div class="col-sm-12 title text-left">
			<h3>Request Issuance Form</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 small text-right">
			<div class="form-horizontal">
				<nsis-text-field ng-model="requestIssuance.body.requestNumber"
					co-id="requestNumber" qro-id="requestNumber" label="requestNumber"
					text-label="Request No:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-field ng-model="requestIssuance.body.requestorDetails.fullName"
					co-id="requestByUsername" qro-id="requestorDetails" label="requestBy"
					text-label="Request By:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-date ng-model="requestIssuance.body.requestDate" co-id="requestDate"
					qro-id="requestDate" label="requestDate"
					text-label="Request Date:"></nsis-date>
			</div>
			<div class="form-horizontal">
				<nsis-text-field ng-model="requestIssuance.body.status" co-id="status"
					qro-id="status" label="status" text-label="Status:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-date ng-model="requestIssuance.body.requiredDate" co-id="requiredDate"
					qro-id="requiredDate" label="requiredDate"
					text-label="Required Dte:"></nsis-date>
			</div>
		</div>
		<div class="col-sm-4 text-right small">
			<div class="form-horizontal">
				<nsis-text-area
					ng-model="requestIssuance.body.customer.deliveryAddress"
					co-id="recipient.deliveryAddress" qro-id="recipient" 
					rows="3" label="deliveryAddress" text-label="Delivery Addr:"></nsis-text-area>
			</div>
			<div class="form-horizontal">
				<nsis-cd-or-recipient
					ng-model="requestIssuance.body.customer.name"
					target="requestIssuance.body.recipient.recipientDetails"
					filter="requestIssuance.body.facilityCodeName" co-id="recipient.username"
					qro-id="recipient" label="recipient" text-label="Recipient:"></nsis-cd-or-recipient>
			</div>
			<div class="form-horizontal">
				<nsis-text-field
					ng-model="requestIssuance.body.customer.contactNumber"
					co-id="recipient.contactNumber" qro-id="recipient"
					label="contactNumber" text-label="Contact No:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-field
					ng-model="requestIssuance.body.customer.contactName"
					co-id="recipient.contactName" qro-id="recipient"
					label="contactName" text-label="Contact Name"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-field
					ng-model="requestIssuance.body.requestType"
					co-id="requestType" qro-id="requestType"
					label="requestType" text-label="Req Type:"></nsis-text-field>
			</div>
		</div>
		<div class="col-sm-4 text-right small">
			<div class="form-horizontal">
				<nsis-text-field
					ng-model="requestIssuance.body.handlingCustodian.custodianDetails.fullName"
					co-id="handlingCustodian.username"
					qro-id="handlingCustodian.custodianDetails" label="handlingCustodian"
					text-label="Custodian:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-area ng-model="requestIssuance.body.handlingCustodian.remarks"
					co-id="custodianRemarks" qro-id="handlingCustodian.remarks" rows="3"
					label="handlingCustodianRemarks" text-label="Custd. Rmrks:"></nsis-text-area>
			</div>
			<div class="form-horizontal">
				<nsis-list ng-model="requestIssuance.body.facilityCodeName" 
					co-id="facilityCodeName" qro-id="facilityCodeName" 
					label="facilities" text-label="Facility:" options="facilities"
					ng-init="facilities = ['DXM','DXO','DML','DXS','DXC','FSB','CKF','CEB','GTW'];"></nsis-list>
			</div>
			<div class="form-horizontal">
				<nsis-routes-list ng-model="requestIssuance.body.routeCode" 
					co-id="routeCode" qro-id="routeCode" 
					facility="requestIssuance.body.facilityCodeName"
					label="routeCode" text-label="Route:">
				</nsis-routes-list>
			</div>
			<div class="form-horizontal">
				<nsis-date ng-model="requestIssuance.body.issuanceDate"
					co-id="issuanceDate" qro-id="issuanceDate" label="issuanceDate"
					text-label="Issuance Dte:"></nsis-date>
			</div>
		</div>
	</div>
	<nsis-grid-cd-svc-req-issuance-supply-grps sr="customerRequest" disabled="disabled"
		co-id="suppliedItemsGroups" qro-id="requestedItems" text-label="Items:"
		label="supplyRequestItems" request-issuance="requestIssuance">
		<div ag-grid="gridOptions"
			class="ag-bootstrap-striped default-nsis-grid"></div>
	</nsis-grid-cd-svc-req-issuance-supply-grps>
	<div class="form-inline pull-right">
		<nsis-action-button text-label="Cancel" action="cancel" 
			disabled=false></nsis-action-button>
		<nsis-action-button text-label="Save" action="save"
			class-ids="btn-success" conf-msg="reroutedMessage"></nsis-action-button>
		<nsis-action-button text-label="Print" action="print"
			class-ids="btn-danger" disabled="disableOtherButtons"></nsis-action-button>
		<nsis-action-button text-label="Finalize" action="finalize"
			class-ids="btn-danger" disabled="disableOtherButtons" 
			conf-msg="finalizeConfirmMsg"></nsis-action-button>
		<nsis-action-button text-label="Reject" action="reject"
			class-ids="btn-danger" disabled="disableOtherButtons"
			 conf-msg="rejectionConfirmMsg"></nsis-action-button>
	</div>
</div>
