<div class="signinDiv comtainer">
	<div class="row"><br/></div>
	<div class="row"><br/></div>
	<div class="row"><br/></div>
	<div class="row"><br/></div>
	<div class="row"><br/></div>
	<div class="row"><br/></div>
	<div class="row"><br/></div>
	<div class="row"><br/></div>
	<div class="row"><br/></div>
	<div class="row"><br/></div>
	<div class="row"><br/></div>
	<div class="row"><br/></div>
	<div class="row"><br/></div>
	<div class="row"><br/></div>
	<div class="row"><br/></div>
	<div class="row"><br/></div>
	<div class="row"><br/></div>
	<div class="row"><br/></div>
	<div class="row"><br/></div>
	<div class="row"><br/></div>
	<div class="row"><br/></div>
	<div class="row"><br/></div>
	<div class="row"><br/></div>
	<div class="row"><br/></div>
	<div class="row">
		<div class="col-sm-12 text-right">
			<form class="form-inline" role="form" ng-submit="signin()">
				<label for="email" class="login-text">User name:</label>
				<div class="form-group">
					<input type="text" ng-model="credentials.username"
						class="form-control" id="email" placeholder="Enter LDAP username">
				</div>
				<label for="pwd" class="login-text">Password:</label>
				<div class="form-group">
					<input type="password" ng-model="credentials.password"
						class="form-control" id="pwd" placeholder="Enter password">
				</div>
				<button type="submit" class="btn btn-danger">Sign in</button>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group" style="float: right;" ng-show="unauthorized">
				<label for="password" class="col-sm-2 control-label"></label>
				<div class="col-sm-6 alert alert-danger">Incorrect username or
					password.</div>
			</div>
		</div>
	</div>
</div>
