<div class="container-fluid sub">
	<spinner name="nsisSpinner">
		<div class="nsis-spinner">
			<img src="/NSIS/static/images/nsisspinner.gif" alt="Loading..."
				height="42" width="42">
		</div>
	</spinner>
	<div class="row">
		<div class="col-sm-12 title text-left">
			<h3>Submitted Order Request Form</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 small text-right">
			<div class="form-horizontal">
				<nsis-text-field ng-model="orderRequest.body.orderNumber"
					co-id="orderNumber" qro-id="orderNumber" label="orderNumber"
					text-label="Order No:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-field ng-model="orderRequest.body.orderBy.fullName"
					co-id="orderByUsername" qro-id="orderBy.fullName" label="orderBy"
					text-label="Order By:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-date ng-model="orderRequest.body.orderDate" co-id="orderDate"
					qro-id="orderDate" augment=false label="orderDate"
					text-label="Order Date:"></nsis-date>
			</div>
			<div class="form-horizontal">
				<nsis-list ng-model="orderRequest.body.orderType" co-id="orderType"
					qro-id="orderType" label="orderType" text-label="Order Type:"
					options="orderTypes" ng-init="orderTypes = ['Regional','Local'];"></nsis-list>
			</div>
			<div class="form-horizontal">
				<nsis-list ng-model="orderRequest.body.orderCycle"
					co-id="orderCycle" qro-id="orderCycle" label="orderCycle"
					text-label="Order Cycle:" options="orderCycles"
					ng-init="orderCycles = ['Q1','Q2','Q3','Q4','Adhoc'];"></nsis-list>
			</div>
			<div class="form-horizontal">
				<nsis-list ng-model="orderRequest.body.currency" augment="Y"
					co-id="currency" qro-id="currency" label="currency"
					text-label="Currency:" options="currencies"
					ng-init="currencies = ['PHP','SGD','EUR'];"></nsis-list>
			</div>
		</div>
		<div class="col-sm-4 text-right small">
			<div class="form-horizontal">
				<nsis-text-area
					ng-model="orderRequest.body.recipient.deliveryAddress"
					co-id="recipient.deliveryAddress"
					qro-id="recipient.deliveryAddress" rows="3" label="deliveryAddress"
					text-label="Delivery Addr:"></nsis-text-area>
			</div>
			<div class="form-horizontal">
				<nsis-cd-or-recipient
					ng-model="orderRequest.body.recipient.recipientDetails.fullName"
					target="orderRequest.body.recipient.recipientDetails"
					filter="orderRequest.body.facilityId" co-id="recipient.username"
					qro-id="recipient.recipientDetails.fullName" label="recipient"
					text-label="Recipient:"></nsis-cd-or-recipient>
			</div>
			<div class="form-horizontal">
				<nsis-text-field
					ng-model="orderRequest.body.recipient.recipientDetails.contactNumber"
					co-id="recipient.contactNumber"
					qro-id="recipient.recipientDetails.contactNumber"
					label="contactNumber" text-label="Contact No:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-field
					ng-model="orderRequest.body.recipient.recipientDetails.emailAddress"
					co-id="recipient.emailAddress" qro-id="recipient.emailAddress"
					label="emailAddress" text-label="Email Add:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-field ng-model="orderRequest.body.facilityId"
					co-id="facilityId" qro-id="facilityId" label="facility"
					text-label="Facility:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-field ng-model="orderRequest.body.status" co-id="status"
					qro-id="status" label="status" text-label="Status:"></nsis-text-field>
			</div>
		</div>
		<div class="col-sm-4 text-right small">
			<div class="form-horizontal">
				<nsis-text-field
					ng-model="orderRequest.body.approver.approverDetails.fullName"
					co-id="approver.username"
					qro-id="approver.approverDetails.fullName" label="approver"
					text-label="Approver:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-area ng-model="orderRequest.body.approver.remarks"
					co-id="approver.remarks" qro-id="approver.remarks" rows="3"
					label="approverRemarks" text-label="App. Rmrks:"></nsis-text-area>
			</div>
			<div class="form-horizontal">
				<nsis-date ng-model="orderRequest.body.deliveryDate"
					co-id="deliveryDate" qro-id="deliveryDate" label="deliveryDate"
					text-label="Delivery Dte.:"></nsis-date>
			</div>
		</div>
	</div>
	<nsis-grid-cd-or-items order-request="orderRequest"
		co-id="itemsRequested" qro-id="itemsRequested" text-label="Items:"
		label="orderRequestItems">
	<div ag-grid="gridOptions"
		class="ag-bootstrap-striped order-request-items-grid"></div>
	</nsis-grid-cd-or-items>
	<div class="form-inline pull-right">
		<nsis-action-button text-label="Cancel" action="cancel"></nsis-action-button>
		<nsis-action-button text-label="Approve" action="approve"
			class-ids="btn-danger" conf-msg="approvalConfirmMsg" ></nsis-action-button>
		<nsis-action-button text-label="Reject" action="reject"
			class-ids="btn-danger" conf-msg="rejectionConfirmMsg" ></nsis-action-button>
	</div>
</div>
