<div class="container-fluid sub">
	<spinner name="nsisSpinner">
		<div class="nsis-spinner">
			<img src="/NSIS/static/images/nsisspinner.gif" alt="Loading..."
				height="42" width="42">
		</div>
	</spinner>
	<div class="row">
		<div class="col-sm-12 title text-left"><h3>Submitted Supply Requests</h3></div>
	</div>
	<div class="row">
		<div class="col-sm-12 text-left filter-header"><strong>Filters</strong></div>
	</div>
	<div class="row top-buffer">
		<div class="col-sm-3 small text-right">
			<div class="form-horizontal">
				<nsis-text-field ng-model="filter.requestNumber" augment=false
				co-id="requestNumber" qro-id="requestNumber" nsis-enter="doTriggerReload()"
				label="requestNumber" text-label="Req No:"></nsis-text-field>
			</div>
		</div>
		<div class="col-sm-3 small text-right">
			<div class="form-horizontal">
				<nsis-list ng-model="filter.status" 
				co-id="status" qro-id="status" 
				label="status" text-label="Status:" 
				options="statuses" augment=false ng-change-fx="doTriggerReload"
				ng-init="statuses = ['','SUBMITTED','APPROVED','REJECTED'];"></nsis-list>
			</div>
		</div>
		<div class="col-sm-6 small text-right">
			<div class="form-inline no-big-gap">
				<div class="form-group div_50percent right_float">
					<div class="col-xs-6">
						<label for="toRequestDate" class="right_float cust_label control-label">To:</label>
					</div>
					<nsis-date-lite container-class-ids="col-xs-6 right_float input-group" 
									ng-model="filter.toDate" label="toRequestDate" 
									augment=false nsis-enter="doTriggerReload()">
					</nsis-date-lite>
				</div>
				<div class="form-group div_50percent right_float">
					<div class="col-xs-6">
						<label for="fromRequestDate" class="right_float cust_label control-label">Supply Date From:</label>
					</div>
					<nsis-date-lite container-class-ids="col-xs-6 right_float input-group" 
									ng-model="filter.fromDate" label="fromRequestDate" 
									augment=false nsis-enter="doTriggerReload()">
					</nsis-date-lite>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 small text-right">
			<div class="form-horizontal">
				<nsis-list ng-model="filter.facilityCodeName" 
					co-id="facilityCode" qro-id="facilityCodeName" 
					label="facilities" text-label="Facility:" 
					options="facilities" ng-change-fx="doTriggerReload"
					ng-init="facilities = ['','DXM','DXO','DML','DXS','DXC','FSB','CKF','CEB','GTW'];">
				</nsis-list>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 small text-right">
			<div class="form-horizontal">
				<nsis-action-button text-label="Clear Filter" action="clearFilter"
				class-ids="btn-danger"></nsis-action-button>
			</div>
		</div>
	</div>
	<div class="row top-buffer">
	</div>
	<nsis-grid-cd-submitted-supplyrequests view-action="view" trigger="triggerReload"
										   list-action="reloadList">
		<div ag-grid="gridOptions"  class="ag-bootstrap-striped default-nsis-grid"></div>
	</nsis-grid-cd-submitted-supplyrequests>
</div>
