<div class="container-fluid sub">
	<spinner name="nsisSpinner">
		<div class="nsis-spinner">
			<img src="/NSIS/static/images/nsisspinner.gif" alt="Loading..."
				height="42" width="42">
		</div>
	</spinner>
	<div class="row">
		<div class="col-sm-12 title text-left">
			<h3>Supply Request Form</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 small text-right">
			<div class="form-horizontal">
				<nsis-text-field ng-model="supplyRequest.body.requestNumber"
					co-id="requestNumber" qro-id="requestNumber" label="requestNumber"
					text-label="Request No:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-field ng-model="supplyRequest.body.requestBy.fullName"
					co-id="requestByUsername" qro-id="requestBy.fullName" label="requestBy"
					text-label="Request By:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-date ng-model="supplyRequest.body.requestDate" co-id="requestDate"
					qro-id="requestDate" label="requestDate"
					text-label="Request Date:"></nsis-date>
			</div>
			<div class="form-horizontal">
				<nsis-text-field ng-model="supplyRequest.body.currency"
					co-id="currency" qro-id="currency" label="currency"
					text-label="Currency:" disabled=true></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-list ng-model="supplyRequest.body.requestCycle" 
					co-id="requestCycle" qro-id="requestCycle" 
					label="requestCycle" text-label="Req Cycle:" 
					options="requestCycles" 
					ng-init="requestCycles = ['WK1','WK2','WK3','WK4','WK5','Adhoc'];"></nsis-list>
			</div>
			<div class="form-horizontal">
				<nsis-text-field ng-model="supplyRequest.body.status" co-id="status"
					qro-id="status" label="status" text-label="Status:"></nsis-text-field>
			</div>
		</div>
		<div class="col-sm-4 text-right small">
			<div class="form-horizontal">
				<nsis-text-area
					ng-model="supplyRequest.body.recipient.deliveryAddress"
					co-id="recipient.deliveryAddress"
					qro-id="recipient.deliveryAddress" rows="3" label="deliveryAddress"
					text-label="Delivery Addr:"></nsis-text-area>
			</div>
			<div class="form-horizontal">
				<nsis-cd-or-recipient
					ng-model="supplyRequest.body.recipient.recipientDetails.fullName"
					target="supplyRequest.body.recipient.recipientDetails"
					filter="supplyRequest.body.facilityCodeName" co-id="recipient.username"
					qro-id="recipient.recipientDetails.fullName" label="recipient"
					text-label="Recipient:"></nsis-cd-or-recipient>
			</div>
			<div class="form-horizontal">
				<nsis-text-field
					ng-model="supplyRequest.body.recipient.recipientDetails.contactNumber"
					co-id="recipient.contactNumber"
					qro-id="recipient.recipientDetails.contactNumber"
					label="contactNumber" text-label="Contact No:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-field
					ng-model="supplyRequest.body.recipient.recipientDetails.emailAddress"
					co-id="recipient.emailAddress" qro-id="recipient.emailAddress"
					label="emailAddress" text-label="Email Add:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-field ng-model="supplyRequest.body.facilityCodeName" 
					co-id="facilityCodeName" qro-id="facilityCodeName" label="facility"
					text-label="Facility:"></nsis-text-field>
			</div>
		</div>
		<div class="col-sm-4 text-right small">
			<div class="form-horizontal">
				<nsis-text-field
					ng-model="supplyRequest.body.approver.approverDetails.fullName"
					co-id="approver.username"
					qro-id="approver.approverDetails.fullName" label="approver"
					text-label="Approver:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-area ng-model="supplyRequest.body.approver.remarks"
					co-id="approver.remarks" qro-id="approver.remarks" rows="3"
					label="approverRemarks" text-label="App. Rmrks:"></nsis-text-area>
			</div>
			<div class="form-horizontal">
				<nsis-date ng-model="supplyRequest.body.issuanceDate"
					co-id="issuanceDate" qro-id="issuanceDate" label="issuanceDate"
					text-label="Issuance Dte.:"></nsis-date>
			</div>
		</div>
	</div>
	<nsis-grid-cd-sr-items sr="supplyRequest"
		co-id="itemsRequested" qro-id="itemsRequested" text-label="Items:"
		label="supplyRequestItems">
		<div ag-grid="gridOptions"
			class="ag-bootstrap-striped default-nsis-grid"></div>
	</nsis-grid-cd-sr-items>
	<div class="form-inline pull-right">
		<nsis-action-button text-label="Cancel" action="cancel"></nsis-action-button>
		<nsis-action-button text-label="Save" action="save"
			class-ids="btn-success"></nsis-action-button>
		<nsis-action-button text-label="Submit" action="submit"
			class-ids="btn-danger" conf-msg="submitConfirmMsg"></nsis-action-button>
	</div>
</div>
