<div class="container-fluid sub">
	<spinner name="nsisSpinner">
		<div class="nsis-spinner">
			<img src="/NSIS/static/images/nsisspinner.gif" alt="Loading..."
				height="42" width="42">
		</div>
	</spinner>
	<div class="row top-buffer">
		<div class="col-sm-12 text-left filter-header"><strong>Filters</strong></div>
	</div>
	<div class="row top-buffer">
		<div class="col-sm-3 small text-right">
			<div class="form-horizontal">
				<nsis-text-field ng-model="filter.requestNumber" augment=false
				co-id="requestNumber" qro-id="requestNumber" container-class-ids="col-sm-7 pull-right" 
				label="requestNumber" text-label="Req No:"></nsis-text-field>
			</div>
		</div>
		<div class="col-sm-3 small text-right">
			<div class="form-horizontal">
				<nsis-list ng-model="filter.status" 
				co-id="status" qro-id="status" 
				label="status" text-label="Status:" 
				options="statuses" augment=false container-class-ids="col-sm-8 pull-right" 
				ng-init="statuses = ['DRAFT','SUBMITTED','APPROVED','REJECTED'];"></nsis-list>
			</div>
		</div>
		<div class="col-sm-6 small text-right">
			<div class="form-inline no-big-gap">
				<div class="form-group div_50percent right_float">
					<div class="col-xs-6">
						<label for="toRequestDate" class="right_float cust_label control-label">To:</label>
					</div>
					<nsis-date-lite container-class-ids="col-xs-6 right_float input-group" 
									ng-model="filter.toDate" label="toDate"
									default-value="dateToday" augment=false>
				</div>
				<div class="form-group div_50percent right_float">
					<div class="col-xs-6">
						<label for="fromRequestDate" class="right_float cust_label control-label">Req. Date From:</label>
					</div>
					<nsis-date-lite container-class-ids="col-xs-6 right_float input-group" 
									ng-model="filter.fromDate" label="fromDate"
									default-value="dateToday" augment=false>
					</nsis-date-lite>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 small text-right">
			<div class="form-horizontal">
				<nsis-action-button text-label="Clear" action="clearFilter"
				class-ids="btn-danger"></nsis-action-button>
			</div>
		</div>
	</div>
	<div class="row top-buffer">
	</div>
	<nsis-grid-cd-svc-physical-stock-count-request list-action="reloadList" trigger="triggerReload">
		<div ag-grid="gridOptions"  class="ag-bootstrap-striped onhand-nsis-grid"></div>
	</nsis-grid-cd-svc-physical-stock-count-request>
</div>
