<div class="container-fluid sub">
	<div class="row top-buffer">
		<label>Group Inventory By: &nbsp;</label>
		<div class="btn-group">
			<label class="btn btn-danger" ui-sref=".byitem" ng-model="radioModel" uib-btn-radio="'Item'">Item</label>
	        <label class="btn btn-danger" ui-sref=".bybatch" ng-model="radioModel" uib-btn-radio="'Batch'">Batch</label>
		</div>
    </div>
    <div class="row top-buffer">
    	<div class="panel panel-default" ui-view></div>
    </div>
</div>
