<div class="container-fluid sub">
	<div class="row">
		<div class="col-sm-12 title text-left"><h3>Inventory Maintenance</h3></div>
	</div>
	<div class="row">
		<uib-tabset active="active">
	        <uib-tab
	            ng-repeat="tab in tabs"
	            index="tab.index" heading="{{tab.heading}}"
	            ui-sref="{{tab.route}}">
	        </uib-tab>
	        
	    </uib-tabset>
 		<div ui-view></div>
	</div>
</div>