<div class="container-fluid sub">
	<spinner name="nsisSpinner">
		<div class="nsis-spinner">
			<img src="/NSIS/static/images/nsisspinner.gif" alt="Loading..."
				height="42" width="42">
		</div>
	</spinner>
	<div class="row">
		<div class="col-sm-12 title text-left">
			<h3>Delivery Receipt Form</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 small text-right">
			<div class="form-horizontal">
				<nsis-text-field ng-model="deliveryReceipt.body.supplyRequest.requestNumber"
					co-id="supplyRequest.requestNumber" qro-id="supplyRequest.requestNumber" label="requestNumber"
					text-label="Request No:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-field ng-model="deliveryReceipt.body.supplyRequest.requestBy.fullName"
					qro-id="supplyRequest.orderBy.fullName" label="orderBy"
					text-label="Request By:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-date ng-model="deliveryReceipt.body.supplyRequest.requestDate"
					qro-id="supplyRequest.orderDate" label="orderDate"
					text-label="Request Date:"></nsis-date>
			</div>
			<div class="form-horizontal">
				<nsis-text-field ng-model="deliveryReceipt.body.supplyRequest.currency"
					qro-id="supplyRequest.currency" label="currency"
					text-label="Currency:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-field ng-model="deliveryReceipt.body.status" co-id="status"
					qro-id="status" label="status" text-label="Status:"></nsis-text-field>
			</div>
		</div>
		<div class="col-sm-4 text-right small">
			<div class="form-horizontal">
				<nsis-text-area
					ng-model="deliveryReceipt.body.supplyRequest.recipient.deliveryAddress"
					qro-id="supplyRequest.recipient.deliveryAddress" rows="3" label="deliveryAddress"
					text-label="Delivery Addr:"></nsis-text-area>
			</div>
			<div class="form-horizontal">
				<nsis-text-field ng-model="deliveryReceipt.body.supplyRequest.recipient.recipientDetails.fullName"
					qro-id="supplyRequest.recipient.recipientDetails.fullName" label="recipient"
					text-label="Recipient:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-field
					ng-model="deliveryReceipt.body.supplyRequest.recipient.recipientDetails.contactNumber"
					qro-id="supplyRequest.recipient.recipientDetails.contactNumber"
					label="contactNumber" text-label="Contact No:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-field ng-model="deliveryReceipt.body.supplyRequest.recipient.recipientDetails.emailAddress"
					qro-id="supplyRequest.recipient.recipientDetails.emailAddress"
					label="emailAddress" text-label="Email Add:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-field ng-model="deliveryReceipt.body.supplyRequest.facilityCodeName"
					qro-id="supplyRequest.facilityId" label="facility"
					text-label="Facility:"></nsis-text-field>
			</div>
		</div>
		<div class="col-sm-4 text-right small">
			<div class="form-horizontal">
				<nsis-text-field ng-model="deliveryReceipt.body.supplyRequest.approver.approverDetails.fullName"
					qro-id="supplyRequest.approver.approverDetails.fullName" label="approver"
					text-label="Approver:"></nsis-text-field>
			</div>
			<div class="form-horizontal">
				<nsis-text-area ng-model="deliveryReceipt.body.supplyRequest.approver.remarks"
					qro-id="supplyRequest.approver.remarks" rows="3"
					label="approverRemarks" text-label="App. Rmrks:"></nsis-text-area>
			</div>
			<div class="form-horizontal">
				<nsis-date ng-model="deliveryReceipt.body.dateDelivered"
					qro-id="dateDelivered" label="deliveryDate" co-id="dateDelivered"
					text-label="Delivery Dte.:"></nsis-date>
			</div>
		</div>
	</div>
	<nsis-grid-cd-sr-item-receivables sr="supplyRequest" dr="deliveryReceipt"
		co-id="itemBatchGroups" qro-id="itemBatches" text-label="Items:"
		label="itemReceivables">
		<div ag-grid="gridOptions"
			class="ag-bootstrap-striped default-nsis-grid"></div>
	</nsis-grid-cd-sr-item-receivables>
	<div class="form-inline pull-right">
		<nsis-action-button text-label="Cancel" disabled=false 
							action="cancel"></nsis-action-button>
		<nsis-action-button text-label="Save" action="save"
			class-ids="btn-success"></nsis-action-button>
		<nsis-action-button text-label="Finalize" action="finalize"
			class-ids="btn-danger" conf-msg="finalizeConfirmMsg" ></nsis-action-button>
	</div>
</div>
