<div class="row top-buffer">
	<div class="col-sm-12 text-right">
		<div class="form-horizontal filter-header pull-left">
			<div class="form-group no-big-gap">
				<div ng-class="xstate" class="col-sm-2 text-left">
					&nbsp;<label uib-tooltip="{{problemMsg}}"
							tooltip-enable="{{hasProblem}}" for="{{label}}" class="control-label">{{textLabel}}&nbsp;</label>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 insertion-point"></div>
</div>
