<div class="row top-buffer">
	<div class="col-sm-12 text-right">
		<div class="form-horizontal filter-header pull-left">
			<div class="form-group no-big-gap">
				<div ng-class="xstate" class="col-sm-4 text-left">
					&nbsp;<label uib-tooltip="{{problemMsg}}"
							tooltip-enable="{{hasProblem}}" for="{{label}}" class="control-label">{{textLabel}}&nbsp;</label>
					<a href="javascript:void(0);" class="anchor-icon" 
					    ng-class="{'link-disabled':isDisabled}"
					    ng-click="remove()"> <span
					    ng-class="{'link-disabled':isDisabled}"
						class="glyphicon glyphicon-trash"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 insertion-point"></div>
</div>