<div class="row top-buffer">
	<div class="col-sm-12 text-right">
		<div class="form-horizontal filter-header-nc pull-left">
			<div class="form-group no-big-gap">
				<div class="col-sm-2 text-left">
					&nbsp;
					<a href="javascript:void(0);" class="anchor-icon" id="addItem" ngShow="add"
						ng-click="add()"> <span class=" glyphicon glyphicon-plus"></span>
					</a> <a href="javascript:void(0);" class="anchor-icon" ngShow="remove"> <span
						class="glyphicon glyphicon-trash" ng-click="remove()"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 insertion-point"></div>
</div>