<div class="row top-buffer">
	<div class="col-sm-12 text-right">
		<div class="form-horizontal filter-header pull-left">
			<div class="form-group no-big-gap">
				<div class="col-sm-4 text-left">
					&nbsp;
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 insertion-point"></div>
</div>