body {
	height: 100vh;
}

#nav-panel {
	float: left;
	width: 20%;
	background-color: #333333;
	height: auto;
}

#content-panel {
	float: right;
	width: 79.8%;
	height: auto;
}

.grid {
	width: 100%;
	height: 80%;
	margin-top:0.5em; 
}

.bgimg {
	background-image: url('/NSIS/static/images/dhllogo.png');
	height: 7vh;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.signinDiv {
	background-image: url('/NSIS/static/images/dhl_warehouse.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	width: 100%;
	position: fixed;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
}
.spinner-parent {
	position: relative;
}
.nsis-spinner {
	/* background-repeat: no-repeat;
	background-position: center; */
	background-color: #FFFFFF;
	opacity: 0.7;
	position: absolute;
    left: auto;
    z-index: 99;
    width: 100%;
    height: 100%;
    display: block;
/*     padding: 34.2%; */
}

.nsis-spinner  > img  {
	display: block;
	margin-top: 30%;
	margin-left: auto;
	margin-right: auto; 
	opacity: 1.0;
}

.whole {
	height: 100%;
	width: 100%;
}

.title {
	padding: 0.1em;
	display: block;
	float: left;
	/* border-bottom: 1px solid #333333; */
}

.title h3 {
	padding-bottom: 0.1em;
	border-bottom: 2px solid #333333;
}

.filter-header {
	background-color: #FFCD00;
	font-weight: bold;
	display: inline-block;
	width: 100%;
	float: left;
}

.filter-header-nc {
	font-weight: bold;
	display: inline-block;
	width: 100%;
	float: left;
}

.filter-row {
	margin-top: 3em;
}

.filter-container {
	margin-bottom: 3em;
}

.container-fluid.sub {
	margin-left: -15px;
	margin-right: -15px;
}

.container-fluid.sub .row {
	margin-left: 15px;
	margin-right: 15px;
}

.left-panel-s {
	background-color: #c9c9c9;
	padding-left: 7px;
	padding-right: 7px;
	height: 100vh;
}

.content-panel {
	height: 100vh;
}

.text-container {
    height: 3em; 
    line-height: 2.5em;
}

.text-container .vcenter {
    display: inline-block;
    vertical-align: middle;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.top-buffer { margin-top:1.5em; }

.top-buffer-form-group { margin-top:0.75em; }

.anchor-icon{
	text-decoration:none;
	color: #000000;
}
.anchor-icon:link {
    text-decoration: none;
    color: #000000;
}
.anchor-icon:hover {
    text-decoration:none;
    color: #808080;
}
.anchor-icon:active {
    text-decoration:none;
    color: #808080;
}
.anchor-icon:visited {
    text-decoration:none;
}

.accord-link{
	text-decoration:none;
	color: #000000;
}
.accord-link:link {
	text-decoration: none;
	color: #000000;
}
.accord-link:hover{
    text-decoration:none;
    color: #808080;
}
.accord-link:active {
    color: #808080;
    text-decoration:none;
}
.accord-link:visited  {
	text-decoration:none;
}
.selected{
	text-decoration:none;
    font-weight: bold;
    color: #000000;
}
.not-selected{
	text-decoration:none;
    font-weight: normal;
}
.form-group.no-big-gap {
	margin-bottom: 0.35em;
}

/* get a larger input, and align it with submit button */
.form-inline > .form-group > div.col-xs-5, div.col-xs-6, div.col-xs-7 {
    padding-left: 0;
    padding-right: 0;
}

.form-inline label {
    line-height: 34px;
}
.form-inline .form-control {
    width: 100%;
}

.div_50percent {
    width: 50%;
    position: relative;
    display: block;
}

.left_float{
	float: left;
}

.right_float{
	float: right;
}
.cust_label{
	float: right;
	margin-right: 8px;
}
.div_25percent {
    width: 25%;
    position: relative;
    display: block;
    float: right;
}
.typeahead-val-header {
    font-size: 13px;
    display: block;
}
.typeahead-val-body {
    font-size: 9px;
    display: block;
}
.link-disabled {
  cursor: not-allowed;
  pointer-events: none;
  color: grey;
  opacity: 0.25;
}
.order-request-items-grid {
	height: 42vh;
}
.default-nsis-grid {
	height: 42vh;
}
.onhand-nsis-grid {
	height: 47vh;
}

down vote
accepted
ul.nav li a, ul.nav li a:visited {
    color: black !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: black !important;
}

ul.nav li.active a {
    color: black !important;
}

.login-text {
	color: white;
}
