*
{
    margin: 0;
    padding: 0;
}

html, body, .Container, .LeftNavigation, .Content
{
    height: 100%;
}

    .Container:before
    {
        content: '';
        height: 100%;
        float: left;
    }

.HeightTaker
{
    position: relative;
    z-index: 1;
}

    .HeightTaker:after
    {
        content: '';
        clear: both;
        display: block;
    }

.Wrapper
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.LeftNavigation
{
    float: left;
}
.LeftNavigation, .Content
{
    overflow: auto;
}


/*For demonstration only*/
.Header
{
    background-color: #bf5b5b;
    /* text-align: center; */
}

.LeftNavigation
{
    background-color: #6ea364;
}
.Content
{
    background-color: #66cab7;
    text-align: center;
}
p
{    
    font-size: 1.3em;
}
.Important
{
    font-weight: bolder;
    color: white;
}
