<a><div>
    <span class="typeahead-val-header" bind-html-unsafe="match.model.fullName | typeaheadHighlight:query">{{match.model.fullName}}</span>
    <span class="typeahead-val-body" bind-html-unsafe="match.model.username | typeaheadHighlight:query">{{match.model.username}}</span>
    <span class="typeahead-val-body" bind-html-unsafe="match.model.contactNumber | typeaheadHighlight:query">{{match.model.contactNumber}}</span>
    <span class="typeahead-val-body" bind-html-unsafe="match.model.emailAddress | typeaheadHighlight:query">{{match.model.emailAddress}}</span>
</div></a>