<a><div>
    <span class="typeahead-val-header" bind-html-unsafe="match.model.codeName | typeaheadHighlight:query">{{match.model.itemCode}}</span>
    <span class="typeahead-val-body" bind-html-unsafe="match.model.description | typeaheadHighlight:query">{{match.model.description}}</span>
    <span class="typeahead-val-body" bind-html-unsafe="match.model.type | typeaheadHighlight:query">{{match.model.type}}</span>
</div></a>