<div ng-class="xstate" class="form-group no-big-gap">
	<label for="{{label}}" class="control-label">{{textLabel}}</label>
	<div class="{{containerClassIds}}">
		<input type="text" placeholder="Search Items" name="{{label}}"
			ng-disabled="isDisabled" uib-tooltip="{{problemMsg}}"
			tooltip-enable="{{hasProblem}}"
			uib-typeahead="inventoryItem as inventoryItem.codeName for inventoryItem in searchInventoryItems($viewValue)"
			ng-model="ngModel" typeahead-no-results="noResults"
			typeahead-editable="false" class="{{classIds}}"
			typeahead-on-select="onSelectInventoryItem($item, $model, $label)"
			typeahead-template-url="/NSIS/static/view/ui-routed/typeahead/inventory-item-search-result.html">
		<i ng-show="loadingItems" class="glyphicon glyphicon-refresh"></i>
		<div ng-show="noResults">
			<i class="glyphicon glyphicon-remove"></i> No Results Found
		</div>
	</div>
</div>