<div class="modal-body" style="padding:0px">
   <div class="alert alert-{{mode}}" style="margin-bottom:0px">
     <button type="button" class="close" data-ng-click="close()" >
       <span class="glyphicon glyphicon-remove-circle"></span>
    </button>
   <strong>{{message}}</strong>
 </div>
</div>