<spinner name="nsisSpinner">
	<div class="nsis-spinner">
		<img src="/NSIS/static/images/nsisspinner.gif" alt="Loading..."
			height="42" width="42">
	</div>
</spinner>
<div class="modal-header">
	<h3 class="modal-title">{{actionName | capitalize}} Item</h3>
</div>
<div class="modal-body">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 small text-right">
				<div class="form-horizontal">
					<nsis-text-field ng-model="requestedItem.requestNumber"
					disabled=true label="requestNumber"
					text-label="Request No:"></nsis-text-field>
				</div>
				<div class="form-horizontal">
					<nsis-cd-ta-inventory-items ng-model="requestedItem.details.codeName" 
					target="requestedItem.details" co-id="requestedItem.codeName" 
					qro-id="requestedItem.details.codeName" disabled="disabled"
					label="itemCode" text-label="Item Code:"></nsis-cd-ta-inventory-items>
				</div>
				<div class="form-horizontal">
					<nsis-text-field ng-model="requestedItem.details.type" 
					disabled=true label="itemType"
					text-label="Item Type:"></nsis-text-field>
				</div>
				<div class="form-horizontal">
					<nsis-text-field ng-model="requestedItem.details.description" 
					disabled=true label="description"
					text-label="Description:"></nsis-text-field>
				</div>
			</div>
			<div class="col-sm-6 small">
				<div class="form-horizontal">
					<nsis-text-field ng-model="requestedItem.requestDetails.quantity"
					co-id="requestedItem.quantity" qro-id="requestedItem.requestDetails.quantity" 
					label="totalQuantity" disabled="disabled" text-label="Qty (Pcs):"></nsis-text-field>
				</div>
				<div class="form-horizontal">
					<nsis-text-area ng-model="requestedItem.requestDetails.remarks"
					co-id="requestedItem.remarks" qro-id="requestedItem.requestDetails.remarks" 
					rows="3" label="remarks" disabled="disabled" text-label="Remarks:"></nsis-text-area>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<nsis-action-button disabled="disabled" action="ok">{{actionName}}</nsis-action-button>
	<button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>