<spinner name="nsisSpinner">
	<div class="nsis-spinner">
		<img src="/NSIS/static/images/nsisspinner.gif" alt="Loading..."
			height="42" width="42">
	</div>
</spinner>
<div class="modal-header">
	<h3 class="modal-title">Search for Customer Account</h3>
</div>
<div class="modal-body">
	<div class="container-fluid sub">
		<div class="row">
			<div class="col-sm-12 text-left filter-header"><strong>Filters</strong></div>
		</div>
		<div class="row top-buffer">
			<div class="col-sm-6 small text-right">
				<div class="form-horizontal">
					<nsis-text-field ng-model="filter.accountNumber"
					co-id="accountNumber" label="accountNumber" nsis-enter="doTriggerReload()"
					text-label="Account No:"></nsis-text-field> 
				</div>
			</div>
			<div class="col-sm-6 small text-right">
				<div class="form-horizontal">
					<nsis-text-field ng-model="filter.name"
					co-id="accountName" label="accountName" nsis-enter="doTriggerReload()"
					text-label="Name:"></nsis-text-field>
				</div>
			</div>
		</div>
		<div class="row">
			<hr/>
			<nsis-grid-cd-customer-account-list supply-group="requestItemGroup" trigger="triggerReload"
								text-label="Customer Accounts" list-action=reloadList 
								label="customerAccountList" select-action="ok">
				<div ag-grid="gridOptions" class="ag-bootstrap-striped default-nsis-grid"></div>
			</nsis-grid-cd-customer-account-list>
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="col-sm-3 pull-right">
		<nsis-action-button text-label="Close" action="cancel"></nsis-action-button>
	</div>
</div>