<spinner name="nsisSpinner">
	<div class="nsis-spinner">
		<img src="/NSIS/static/images/nsisspinner.gif" alt="Loading..."
			height="42" width="42">
	</div>
</spinner>
<div class="modal-header">
	<h3 class="modal-title">{{actionName | capitalize}} Item</h3>
</div>
<div class="modal-body">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 small text-right">
				<div class="form-horizontal">
					<div class="form-group no-big-gap">
						<label for="orderCurrency" class="control-label">Req. Cur:</label>
						<div class="col-sm-9 pull-right">
							<input type="text" id="orderCurrency" name="orderCurrency" disabled
								class="input-sm form-control" ng-model="orderRequestItem.currency" />
						</div>
					</div>
				</div>
				<div class="form-horizontal">
					<div ng-class="setState('details.itemCode')" class="form-group no-big-gap">
						<label for="itemCode" class="control-label">Item code:</label>
						<div class="col-sm-9 pull-right">
						    <!-- <pre>Model: {{asyncSelected | json}}</pre> -->
							<input type="text" ng-disabled="actionName != 'ADD'"
								uib-tooltip="{{meta['details.itemCode']}}"
								tooltip-enable="{{hasError('details.itemCode')}}"
								placeholder="Search items"
								uib-typeahead="facilityItem as orderRequestItem.codeName for facilityItem in searchFacilityItems($viewValue)"
								ng-model="orderRequestItem.itemCode"
								typeahead-loading="loadingLocations"
								typeahead-no-results="noResults" 
								typeahead-editable="false"
								class="input-sm form-control"
								typeahead-on-select="onFacilityItemSelect($item, $model, $label)"
								typeahead-template-url="/NSIS/static/view/ui-routed/typeahead/facility-items.html"
							> <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
						    <div ng-show="noResults">
						      <i class="glyphicon glyphicon-remove"></i> No Results Found
						    </div>
						</div>
					</div>
				</div>
				<div class="form-horizontal">
					<div class="form-group no-big-gap">
						<label for="itemType" class="control-label">Item Type:</label>
						<div class="col-sm-9 pull-right">
							<input type="text" id="itemType" name="orderType" disabled
								class="input-sm form-control" ng-model="orderRequestItem.itemType" />
						</div>
					</div>
				</div>
				<div class="form-horizontal">
					<div class="form-group no-big-gap">
						<label for="description" class="control-label">Description:</label>
						<div class="col-sm-9 pull-right">
							<input type="text" id="orderType" name="description" disabled
								class="input-sm form-control" ng-model="orderRequestItem.description" />
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 small">
				<div class="form-horizontal text-right">
					<div class="form-group no-big-gap">
						<label for="unitOfMeasurement" class="control-label">UOM:</label>
						<div class="col-sm-9 pull-right">
							<input type="text" id="unitOfMeasurement" disabled
								name="unitOfMeasurement" class="input-sm form-control"
								ng-model="orderRequestItem.unitOfMeasurement" />
						</div>
					</div>
				</div>
				<div class="form-horizontal text-right">
					<div class="form-group no-big-gap">
						<label for="itemCost" class="control-label">Item cost:</label>
						<div class="col-sm-9 pull-right">
							<input type="text" id="itemCost" disabled
								name="itemCost" class="input-sm form-control"
								ng-model="orderRequestItem.itemCost" />
						</div>
					</div>
				</div>
				<div class="form-horizontal text-right">
					<div ng-class="setState('details.quantity')" class="form-group no-big-gap">
						<label for="quantity" class="control-label">Quantity:</label>
						<div class="col-sm-9 pull-right">
							<input type="text" id="quantity" name="quantity"
								uib-tooltip="{{meta['details.quantity']}}"
								tooltip-enable="{{hasError('details.quantity')}}"
								class="input-sm form-control" ng-model="orderRequestItem.quantity" />
						</div>
					</div>
				</div>
				<div class="form-inline no-big-gap">
					<div class="form-group div_50percent right_float">
						<div class="col-xs-6">
							<label for="maximum" class="right_float cust_label control-label">Max:</label>
						</div>
						<div class="col-xs-5 right_float">
							<input type="text" class="input-sm right_float form-control" ng-model="orderRequestItem.maximum" id="maximum" disabled>
						</div>
					</div>
					<div class="form-group div_50percent right_float">
						<div class="col-xs-6">
							<label for="minimum" class="right_float cust_label control-label">Min:</label>
						</div>
						<div class="col-xs-5 right_float">
							<input type="text" class="input-sm form-control" ng-model="orderRequestItem.minimum" id="minimum" disabled>
						</div>
					</div>
				</div>
				<div class="form-horizontal text-right">
					<div ng-class="setState('details.remarks')" class="form-group no-big-gap">
						<label for="remarks" class="control-label">Remarks:</label>
						<div class="col-sm-9 pull-right">
							<textarea class="input-sm form-control" rows="3" name="remarks"
								uib-tooltip="{{meta['details.remarks']}}"
								tooltip-enable="{{hasError('details.remarks')}}"
								ng-model="orderRequestItem.remarks"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" type="button" ng-click="ok()">{{actionName}}</button>
	<button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>