<spinner name="nsisSpinner">
	<div class="nsis-spinner">
		<img src="/NSIS/static/images/nsisspinner.gif" alt="Loading..."
			height="42" width="42">
	</div>
</spinner>
<div class="modal-header">
	<h3 class="modal-title">Supply Requested Item</h3>
</div>
<div class="modal-body">
	<div class="container-fluid sub">
		<div class="row">
			<div class="col-sm-6 small text-right">
				<div class="form-horizontal">
					<nsis-text-field ng-model="requestItemGroup.requestDetails.requestNumber"
					co-id="requestItemGroup.requestNumber" disabled=true label="orderNumber"
					text-label="Order No:"></nsis-text-field>
				</div>
				<div class="form-horizontal">
					<nsis-text-field ng-model="requestItemGroup.requestDetails.itemCode" 
					disabled=true co-id="requestItemGroup.itemCode"  label="itemCode"
					text-label="Item Code:"></nsis-text-field>
				</div>
				<div class="form-horizontal">
					<nsis-text-field ng-model="requestItemGroup.requestDetails.itemType" 
					disabled=true co-id="requestItemGroup.itemType" 
					label="itemType" text-label="Item Type:"></nsis-text-field>
				</div>
				<div class="form-horizontal">
					<nsis-text-field ng-model="requestItemGroup.requestDetails.description"
					co-id="requestItemGroup.description" disabled=true
					label="itemDescription" text-label="Description:"></nsis-text-field>
				</div>
			</div>
			<div class="col-sm-3 small text-right">
				<div class="form-horizontal">
					<nsis-text-field ng-model="requestItemGroup.requestDetails.uom"
					co-id="requestItemGroup.uom" disabled=true
					label="uom" text-label="UOM:"></nsis-text-field>
				</div>
				<div class="form-horizontal">
					<nsis-text-field ng-model="requestItemGroup.supplyDetails.logicalStock"
					co-id="requestItemGroup.logicalStock" disabled=true
					label="currentLogicalStock" text-label="Log. Stk:"></nsis-text-field>
				</div>
				<div class="form-horizontal">
					<nsis-text-field ng-model="requestItemGroup.supplyDetails.physicalStock"
					co-id="requestItemGroup.physicalStock" disabled=true 
					label="currentPhysicalStock" text-label="Phy. Stk:"></nsis-text-field>
				</div>
			</div>
			<div class="col-sm-3 small text-right">
				<div class="form-horizontal">
					<nsis-text-field ng-model="requestItemGroup.requestDetails.piecesPerUOM"
					co-id="requestItemGroup.piecesPerUOM" disabled=true
					label="uom" text-label="Pcs/UOM:"></nsis-text-field>
				</div>
				<div class="form-horizontal">
					<nsis-text-field ng-model="requestItemGroup.requestDetails.requestedQty"
					co-id="requestItemGroup.requestedQty" disabled=true
					label="currentLogicalStock" text-label="Req. Qty:"></nsis-text-field>
				</div>
				<div class="form-horizontal">
					<nsis-text-field ng-model="requestItemGroup.supplyDetails.totalSuppliedQty"
					co-id="requestItemGroup.physicalStock" disabled=true
					label="currentPhysicalStock" text-label="Sup. Qty:"></nsis-text-field>
				</div>
			</div>
		</div>
		<div class="row">
			<hr/>
			<nsis-grid-cd-svc-req-issuance-supply-grps-items refresh-trigger="triggerGridReload" 
								supply-group="requestItemGroup" text-label="Available Supplies" 
								disable-persist-fx="updateRequestItemIssuanceView" 
								disabled="disabled" list-action="listAvailableSupplies" 
								label="availableSupplies">
				<div ag-grid="gridOptions" class="ag-bootstrap-striped default-nsis-grid"></div>
			</nsis-grid-cd-svc-req-issuance-supply-grps-items>
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="col-sm-9 pull-left text-left">
		<strong><p ng-bind="modalError" class="text-danger"></p></strong>
	</div>
	<div class="col-sm-3 pull-right">
		<nsis-action-button text-label="Apply" class-ids="btn-success" 
						action="apply" disabled="disableApplyButton"></nsis-action-button>
		<nsis-action-button text-label="Cancel" disabled=false
							action="close"></nsis-action-button>
	</div>
</div>