<spinner name="nsisSpinner">
	<div class="nsis-spinner">
		<img src="/NSIS/static/images/nsisspinner.gif" alt="Loading..."
			height="42" width="42">
	</div>
</spinner>
<div class="modal-header">
	<h3 class="modal-title">Receivable Item Details</h3>
</div>
<div class="modal-body">
	<div class="container-fluid sub">
		<div class="row">
			<div class="col-sm-6 small text-right">
				<div class="form-horizontal">
					<nsis-text-field ng-model="deliveredItemBatchGroup.requestDetails.requestNumber"
					co-id="deliveredItemBatchGroup.requestNumber" disabled=true
					qro-id="deliveredItemBatchGroup.requestDetails.requestNumber" label="requestNumber"
					text-label="Order No:"></nsis-text-field>
				</div>
				<div class="form-horizontal">
					<nsis-text-field ng-model="deliveredItemBatchGroup.receivableDetails.itemCode" 
					disabled=true co-id="deliveredItemBatchGroup.itemCode" 
					qro-id="requestRequest.requestNumber" label="itemCode"
					text-label="Item Code:"></nsis-text-field>
				</div>
				<div class="form-horizontal">
					<nsis-text-field ng-model="deliveredItemBatchGroup.receivableDetails.itemType" 
					disabled=true co-id="deliveredItemBatchGroup.itemType" 
					qro-id="deliveredItemBatchGroup.receivableDetails.itemType" 
					label="itemType" text-label="Item Type:"></nsis-text-field>
				</div>
				<div class="form-horizontal">
					<nsis-text-field ng-model="deliveredItemBatchGroup.receivableDetails.description"
					co-id="deliveredItemBatchGroup.itemDescription" disabled=true
					qro-id="deliveredItemBatchGroup.receivableDetails.description" 
					label="itemDescription" text-label="Description:"></nsis-text-field>
				</div>
			</div>
			<div class="col-sm-6 small text-right">
				<div class="form-horizontal">
					<nsis-text-field ng-model="deliveredItemBatchGroup.requestDetails.currency"
					co-id="deliveredItemBatchGroup.currency" disabled=true
					qro-id="deliveredItemBatchGroup.requestDetails.currency" label="requestNumber"
					text-label="Currency:"></nsis-text-field>
				</div>
				<div class="form-horizontal">
					<nsis-text-field ng-model="deliveredItemBatchGroup.receivableDetails.uom"
					co-id="deliveredItemBatchGroup.uom" disabled=true
					qro-id="deliveredItemBatchGroup.receivableDetails.uom" label="uom"
					text-label="UOM:"></nsis-text-field>
				</div>
				<div class="form-horizontal">
					<nsis-text-field ng-model="deliveredItemBatchGroup.receivableDetails.piecesPerUOM"
					disabled=true  label="piecesPerUOM" text-label="Pcs/UOM:"></nsis-text-field>
				</div>
				<div class="form-horizontal">
					<nsis-text-field ng-model="deliveredItemBatchGroup.receivableDetails.quantityInUOM"
					disabled=true label="totalQuantity" text-label="UOM Count:"></nsis-text-field>
				</div>
				<div class="form-horizontal">
					<nsis-text-field ng-model="deliveredItemBatchGroup.receivableDetails.quantity"
					disabled=true label="totalQuantity" text-label="Pcs:"></nsis-text-field>
				</div>
			</div>
		</div>
		<div class="row">
			<hr/>
		</div>
		<div class="row">
			<div class="col-sm-6 small text-right">
				<div class="form-horizontal">
					<nsis-text-field 
					ng-model="deliveredItemBatchGroup.editedItemBatch.batchNumber"
					co-id="" disabled=true
					qro-id="itemBatches" label="dateStored"
					text-label="Batch No:"></nsis-text-field>
				</div>
				<div class="form-horizontal">
					<nsis-date ng-model="deliveredItemBatchGroup.editedItemBatch.dateStored"
					co-id="editedItemBatch.dateStored"
					qro-id="itemBatches" label="dateStored"
					text-label="Dte Stored:"></nsis-date>
				</div>
			</div>
			<div class="col-sm-6 small text-right">
				<div class="form-horizontal">
					<nsis-text-field 
					ng-model="deliveredItemBatchGroup.editedItemBatch.quantity"
					disabled=true label="quantityInPieces"
					text-label="Pieces:"></nsis-text-field>
				</div>
				<div class="form-horizontal">
					<nsis-text-field 
					ng-model="deliveredItemBatchGroup.editedItemBatch.quantityByUOM"
					co-id="editedItemBatch.quantity" 
					qro-id="itemBatches" label="quantityByUOM"
					text-label="Qty By UOM:"></nsis-text-field>
				</div>
				<div class="form-horizontal">
					<nsis-cd-ta-warehouse-locations 
					ng-model="deliveredItemBatchGroup.editedItemBatch.rackingCode" 
					target="deliveredItemBatchGroup.itemBatch.rackingCode" 
					filter="deliveredItemBatchGroup.requestDetails.facilityCodeName" 
					co-id="editedItemBatch.rackingCode" qro-id="itemBatches"
					label="rackingCode" text-label="Rack Code:"></nsis-cd-ta-warehouse-locations>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-inline pull-right">
				<nsis-action-button action="ok">{{itemBatchActionLabel}}</nsis-action-button>
				<nsis-action-button action="clear">Clear</nsis-action-button>
			</div>
		</div>
		<div class="row">
			<nsis-grid-cd-svc-delivery-item-batches refresh-trigger="triggerGridReload" 
								view-action="view" text-label="Item Batches"
								remove-action="remove" list-action="list" label="itemBatches">
				<div ag-grid="gridOptions" class="ag-bootstrap-striped default-nsis-grid"></div>
			</nsis-grid-cd-svc-delivery-item-batches>
		</div>
	</div>
</div>
<div class="modal-footer">
	<nsis-action-button text-label="Apply" class-ids="btn-success" action="apply"></nsis-action-button>
	<nsis-action-button text-label="Cancel" enabled-always=true action="close"></nsis-action-button>
</div>