<h1>Network Supplies Inventory System</h1>
<div ng-show="authenticated">
	<p>Hi {{greeting.fullname}}!</p>
	<p>{{greeting.username}}</p>
</div>
<div  ng-show="!authenticated">
	<p>Login to see your greeting</p>
</div>