<!doctype html>
<html>
	<head>
		<title>NSIS</title>
		<link href="/NSIS/static/css/nsis.css" rel="stylesheet">
		<style type="text/css">
			[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak,
				.x-ng-cloak {
				display: none !important;
			}
		</style>
		<script type="text/javascript"
			src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
		<script type="text/javascript"
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
			integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
			crossorigin="anonymous"></script>
		<script type="text/javascript"
			src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-resource.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-cookies.js"></script>
		<script type="text/javascript" src="/NSIS/static/js/app.js"></script>
		<script type="text/javascript" src="/NSIS/static/js/services.js"></script>
		<script type="text/javascript" src="/NSIS/static/js/config.js"></script>
	</head>
	<body ng-app="nsisApp" ng-cloak class="ng-cloak">
		<div ng-controller="navigation" class="container">
			<ul class="nav nav-pills" role="tablist">
				<li class="active"><a href="#!/">home</a></li>
				<li><a href="#!/login">login</a></li>
				<li ng-show="authenticated"><a href="" ng-click="logout()">logout</a></li>
			</ul>
		</div>
		<div ng-view class="container"></div>
	</body>
</html>